@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-lg: 1.125rem;
  --font-size-29xl: 3rem;
  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-5xl: 1.5rem;
  --font-size-13xl: 2rem;
  --font-size-mid: 1.063rem;
  --font-size-39xl: 3.625rem;

  /* Colors */
  --color-white: #fff;
  --style1: #191919;
  --color-crimson-100: #f54748;
  --color-crimson-200: rgba(245, 71, 72, 0);
  --color-black: #000;
  --style: #fdc55e;
  --text-color: #686d77;

  /* Gaps */
  --gap-31xl: 3.125rem;

  /* Paddings */
  --padding-3xs: 0.625rem;
  --padding-xl: 1.25rem;

  /* Border radiuses */
  --br-6xs: 7px;
  --br-8xs: 5px;
  --br-19xl: 38px;
  --br-20xl: 39px;
  --br-81xl: 100px;
  --br-12xs: 1px;
  --br-xl: 20px;
  --br-10xs: 3px;
}
